.markdown-body .highlight .gutter pre {
  background-color: var(--bg-code-gutter);
}

figure.highlight {
  padding: 0;
}

figure.highlight::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  box-shadow:
    10px 10px var(--color-mac-red),
    30px 10px var(--color-mac-yellow),
    50px 10px var(--color-mac-green);
  top: 0;
  left: 0;
  border-radius: 50%;
}

figure.highlight table {
  margin-bottom: 0 !important;
}

figure.highlight table .gutter {
  user-select: none;
}

figure.highlight figcaption {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
}

figure.highlight table {
  border-top: 0;
}
